/*
Writed by @zcyzcy88
Thanks:
https://github.com/necolas/normalize.css
*/

/* Basic */
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sub {
	bottom: -0.25em;
}
sup {
	top: -0.5em;
}
fieldset {
	border: 1.5px solid silver;
	margin: 0 2px;
	padding: .35em .625em .75em;
}
abbr[title] {
	border-bottom: 0;
	text-decoration: underline;
	text-decoration: underline dotted;
}

/* Font */
body, button, input, optgroup, select, textarea {
	font-size: 1em;
	font-family: sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}
pre, code, kbd, samp, var {
	font-size: 0.9em;
	font-family: SFMono-Regular, Consolas, monospace, sans-serif !important;
}

/* Improve */
/*
::selection {
	background: rgba(0, 128, 255, 0.4) !important;
}
::-moz-selection {
	background: rgba(0, 128, 255, 0.4) !important;
}
*/
::selection {
	color: black !important;
	background: #9cf !important;
}
a::selection {
	color: #00c !important;
}
::-moz-selection {
	color: black !important;
	background: #9cf !important;
}
a::-moz-selection {
	color: #00c !important;
}
/*
img {
	box-shadow: none;
	transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}
img:hover {
	box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.3);
}
*/
body {
	-ms-overflow-style: -ms-autohiding-scrollbar;
}
body >:not(:last-child), body >:last-child > * > * {
	-ms-overflow-style: scrollbar;
}
