@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
/*
Writed by @zcyzcy88
Thanks:
https://github.com/zcyzcy88/SelfColle/blob/master/FirefoxUI.css
https://addons.mozilla.org/en-US/firefox/addon/dom-inspector-6622
*/

* {
	font-family: San Francisco, Roboto, Segoe UI,
		Lucida Grande, Tahoma,
		Yunlin Sans, Hiragino Kaku Gothic Pro, Hiragino Sans GB,
		sans-serif !important;
}

#navigator-toolbox {
	overflow: hidden;
}
#titlebar {
	margin-bottom: -31px !important;
}

#urlbar-zoom-button,
#titlebar-min,
#titlebar-max,
#titlebar-close {
	display: none !important;
}

.toolbarbutton-1, .box-inherit.toolbarbutton-menubutton-button {
	min-width: 32px;
}
#alltabs-button {
	min-width: 10px;
}

.tab-background-start[selected=true]::after,
.tab-background-start[selected=true]::before,
.tab-background-start,
.tab-background-end,
.tab-background-end[selected=true]::after,
.tab-background-end[selected=true]::before,
.tabbrowser-tabs {
	min-height: 28px !important;
}

.tab-throbber:not([pinned]),
.tab-icon-image:not([pinned]) {
	-moz-margin-end: 3px !important;
}
.tab-content:not([pinned]) {
	-moz-padding-start: 3px !important;
	-moz-padding-end: 3px !important;
}
.tab-close-button:not([pinned]) {
	-moz-margin-start: 3px !important;
}

#urlbar {
	font-size: 15px !important;
	border: none !important;
	box-shadow: none !important;
	transition: background 0.15s !important;
}
#nav-bar {
	margin-bottom: -3px !important;
}
#main-window:not([disablechrome]) #navigator-toolbox::after {
	display: none !important;
}

#context-gtranslate menupopup {
	max-width: 280px;
}
